@import "normalize";

@import "_fonts";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: Tahoma, Geneva, sans-serif;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  padding: 50px;
  width: 586px;
}

.login-block {
  background-color: white;
  box-shadow: 3.5px 6.1px 33px rgba(28, 81, 107, 0.07);
  border-radius: 4px;
  display: flex;
}

.login-form {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 37px 35px 40px 39px;
  width: 414px;
}

.services-menu {
  box-sizing: border-box;
  width: 172px;
}

.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &__item {
    box-sizing: border-box;
    border: 1px solid #c5edfc;
    border-bottom: none;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #def6ff;
    cursor: pointer;
    height: 74px;
    padding-top: 25px;
    padding-left: 35px;
    &:first-child {
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom: 1px solid #c5edfc;
      border-bottom-right-radius: 4px;
    }
    & > span {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      color: #6498b7;
      border-bottom: 1px dotted #79a8c4;
      text-shadow: 0.5px 0.9px 0 #effbff;
    }
    &:hover {
      background-color: #c7effe;
      & > span {
        color: #43718c;
        text-shadow: 0.5px 0.9px 0 #d0f3ff;
        border-bottom: none;
      }
    }
  }
}

.logo {
  color: #252b33;
  margin-bottom: 34px;
  span:first-child {
    font-family: 'elektra_medium_proitalic';
    font-size: 45px;
    line-height: 30px;
  }
  span:last-child {
    position: relative;
    top: -4px;
    font-family: 'elektra_light_probold';
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 9px;
  }
}

.form {
	&__input {
    box-sizing: border-box;
    width: 100%;
		height: 42px;
    margin-bottom: 15px;
    padding-left: 15px;
		background-color: #f6f8f9;
		background-image: linear-gradient(to top, transparent 0%, transparent 100%);
    border-width: 1px;
    border-style: solid;
    border-top-color: #e1e8ec;
    border-right-color: #eff3f6;
    border-bottom-color: #eef2f5;
    border-left-color: #e3e9ed;
    border-radius: 4px;
    &::placeholder {
      font-size: 14px;
      color: #586871;
      text-shadow: 0.5px 0.9px 0 white;
    }
	}
  &-group {
    display: flex;
    justify-content: space-between;
  }
  input[type="checkbox"] {
    display: none;
    &:checked + label:after {
      visibility: visible;
    }
  }
  
  .checkbox-label {
    position: relative;
    font-size: 12px;
    color: #252b33;
    text-shadow: 0.5px 0.9px 0 white;
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 19px;
      height: 19px;
      margin-right: 10px;
      background-color: #f2f6f8;
      background-image: linear-gradient(to top, transparent 0%, transparent 100%);
      border-width: 1px;
      border-style: solid;
      border-top-color: #e1e8ec;
      border-right-color: #eff3f6;
      border-bottom-color: #eef2f5;
      border-left-color: #e3e9ed;
      border-radius: 4px;
    }
    &:after {
      visibility: hidden;
      content: ".";
      position: absolute;
      top: 0px;
      left: 6px;
      font-family: 'web_symbolsregular';
      font-size: 14px;
      color: #0099cc;
    }
  }

  .repair-password {
    font-size: 12px;
    color: #0099cc;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &__button {
  	background-color: #6cf;
  	background-image: linear-gradient(to top, #96e0ff 0%, #abe7ff 100%);
  	border: 1px solid #a1d5ef;
    border-radius: 4px;
  	box-shadow: inset 0.5px 0.9px 0 #beeafc;
  	text-shadow: 0.5px 0.9px 0 #c3e9f8;
    color: #43718c;
    font-size: 18px;
    padding: 9px 19px;
    margin-top: 34px;
  }
}
